language: node_js
node_js:
  - "10"
before_script:
  - npx version-from-git --travis --no-git-tag-version
  - npm run bootstrap
  - node scripts/syncVersion
  - npm run build
before_deploy:
  - cp -r packages/component/lib .
deploy:
  - provider: npm
    api_key:
      secure: "oHdiy4Y3rx4xIZIatIZudtbRo+5QIBiP1v8FMPoi4WmuEl+s1cNmytLnv2StpP8gPUe7S67V2n+YM5rRKD2bE80bpdLQthndjCerEGVcyEQOREWcdXQuG4S5pkzuUSEAvKyTT9IouvvAQjkc4DPGD2669WrnsCxVcRURfYlDppew1dVSQaNZS5n5LXWFPNS4ONFVWHGdX762DnIG8IKxte//sN+y/SunYAWbYTiJfU3L3tiY7q1mkXVaFCj27MA0zuxmLGaSL04rkCuAGWbNA2XH+NwrTsJm8ipMeWL6YaqL62SiJjGczs86lK2+YCAukEfo+kSfsBUq8LakDkp9rIlxfwdVZw7yGDMwUjfM7o2/0aK+sJO6RcjY1wo8CXnS2nE1t1xNlKKoq2t0fF5mXiQnc1zXBke43Uj6ghOyAQCMLIzr/s94WSNAJrIsZ0CBpHC+RahwudvoCNFEcRFu/lbbLqKYj+YFAf8GOdo9aKSaTql4fj4pDzNzxy9nUfyCNXqcNfxxW11dyh+x3qcVPRRvfott90OUO3HBvOgm5mqwKEyG8w5+tfH9SEANBgtZHWiik+gUu0Yv97Pnce568qkffT18yV6JBf4ZDw+t9mGb4Tb4ZOzvxawXsP3BPX4oPrBo5RKDPSfM6JwB8RMlISCtOzhMvVFlu5/SNWrWzoQ="
    email: "compulim@hotmail.com"
    on:
      branch: master
    skip_cleanup: true
    tag: master
  - provider: npm
    api_key:
      secure: "oHdiy4Y3rx4xIZIatIZudtbRo+5QIBiP1v8FMPoi4WmuEl+s1cNmytLnv2StpP8gPUe7S67V2n+YM5rRKD2bE80bpdLQthndjCerEGVcyEQOREWcdXQuG4S5pkzuUSEAvKyTT9IouvvAQjkc4DPGD2669WrnsCxVcRURfYlDppew1dVSQaNZS5n5LXWFPNS4ONFVWHGdX762DnIG8IKxte//sN+y/SunYAWbYTiJfU3L3tiY7q1mkXVaFCj27MA0zuxmLGaSL04rkCuAGWbNA2XH+NwrTsJm8ipMeWL6YaqL62SiJjGczs86lK2+YCAukEfo+kSfsBUq8LakDkp9rIlxfwdVZw7yGDMwUjfM7o2/0aK+sJO6RcjY1wo8CXnS2nE1t1xNlKKoq2t0fF5mXiQnc1zXBke43Uj6ghOyAQCMLIzr/s94WSNAJrIsZ0CBpHC+RahwudvoCNFEcRFu/lbbLqKYj+YFAf8GOdo9aKSaTql4fj4pDzNzxy9nUfyCNXqcNfxxW11dyh+x3qcVPRRvfott90OUO3HBvOgm5mqwKEyG8w5+tfH9SEANBgtZHWiik+gUu0Yv97Pnce568qkffT18yV6JBf4ZDw+t9mGb4Tb4ZOzvxawXsP3BPX4oPrBo5RKDPSfM6JwB8RMlISCtOzhMvVFlu5/SNWrWzoQ="
    email: "compulim@hotmail.com"
    on:
      tags: true
    skip_cleanup: true
  - provider: pages
    skip-cleanup: true
    github-token:
      secure: "By9mOa/fbj3aLs7CF+zKD+9n4j6D4hR2oFRoLL6dCDmCbBXOo+ddxB0U8mR9dg2abxo5cXRXU5yxfYp304Lb47YHfC/ayJAAYzvbgkn92Gq0V3jBmZ2pZ8ldbjUJpPQfnavSPmy4zDB53YMYXxoG8vfaRUk6mltapKHvN+Mw0dwuc9Ez+w4XTpnOk1NEmFGpw6vTFcBKkQoj6yhzRljQKPY3cFZqUnx/FEWBC0pAsufrGR946itsZAuRSVjkRj6BnzFqs5zZeaHs07sdb75+RSqcS2yadilhJqIumD64f12qMYfQH6uICeyHMxnNZkvGwcXcc5034FTchUyAxQxc0mg2t6CZWztbSAQ9aCvQ4p2jZZLIkaATee32/MEkx9vaJP0IB/GBJ5sIoBlQdpAIRZljq6nyBkR+H18k3Pk2spePsaGaiqrggaPzGbGPHnj74ENMXoDym/lsehhNOSn8Wwzb1EfF+8AAOg3FOUq4m8G42/ed5J8WVKgP4B+Pd89tRWl2dD+DXly1dDD64vHvOyf0yzdL8FtWsGdKd6XKiOnA0GSWEjsMtj9LOaYmHEW1vANv9uBjqMcwBdRSA2xiR2+ADcP1kMYHJZcLWKjVSkPhMDlIyTQe4WAEMCyxqmufEtLbTVwhDwFtJbucSB2bS+TzrRYEjahqkTlVCnmPyYg="
    on:
      branch: master
    local-dir: packages/playground/build
  - provider: releases
    api_key:
      secure: "By9mOa/fbj3aLs7CF+zKD+9n4j6D4hR2oFRoLL6dCDmCbBXOo+ddxB0U8mR9dg2abxo5cXRXU5yxfYp304Lb47YHfC/ayJAAYzvbgkn92Gq0V3jBmZ2pZ8ldbjUJpPQfnavSPmy4zDB53YMYXxoG8vfaRUk6mltapKHvN+Mw0dwuc9Ez+w4XTpnOk1NEmFGpw6vTFcBKkQoj6yhzRljQKPY3cFZqUnx/FEWBC0pAsufrGR946itsZAuRSVjkRj6BnzFqs5zZeaHs07sdb75+RSqcS2yadilhJqIumD64f12qMYfQH6uICeyHMxnNZkvGwcXcc5034FTchUyAxQxc0mg2t6CZWztbSAQ9aCvQ4p2jZZLIkaATee32/MEkx9vaJP0IB/GBJ5sIoBlQdpAIRZljq6nyBkR+H18k3Pk2spePsaGaiqrggaPzGbGPHnj74ENMXoDym/lsehhNOSn8Wwzb1EfF+8AAOg3FOUq4m8G42/ed5J8WVKgP4B+Pd89tRWl2dD+DXly1dDD64vHvOyf0yzdL8FtWsGdKd6XKiOnA0GSWEjsMtj9LOaYmHEW1vANv9uBjqMcwBdRSA2xiR2+ADcP1kMYHJZcLWKjVSkPhMDlIyTQe4WAEMCyxqmufEtLbTVwhDwFtJbucSB2bS+TzrRYEjahqkTlVCnmPyYg="
    on:
      tags: true
    skip_cleanup: true
