name: Publish release

on:
  release:
    types: [created]

jobs:
  call-workflow:
    permissions:
      contents: write
      pages: write
      id-token: write
    secrets:
      WORKFLOW_BOT_APP_ID: ${{ secrets.WORKFLOW_BOT_APP_ID }}
      WORKFLOW_BOT_PRIVATE_KEY: ${{ secrets.WORKFLOW_BOT_PRIVATE_KEY }}
    uses: compulim/workflows/.github/workflows/publish-release-oidc.yml@main
    with:
      package-name: 'web-speech-cognitive-services'
      tag: ${{ github.ref_name }}
